<!DOCTYPE html>
<html lang="es">
  <head>
    <script
      type="text/javascript"
      src="https://www.gstatic.com/charts/loader.js"
    ></script>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thales SOS</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />

    <style>
      @keyframes fadein {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }

      .btn-interfaz:hover {
        background-color: #04c4d9;
      }

      .btn-stop:hover {
        background-color: red;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a
        class="navbar-brand"
        href="#"
        style="
          font-family: Poppins;
          font-weight: 700;
          font-size: 45px;
          color: #242f73;
        "
        >Thales<span
          style="
            font-family: Poppins;
            font-weight: 700;
            font-size: 30px;
            color: #04c4d9;
          "
        >
          SOS</span
        ></a
      >
    </nav>
    {% if alert_message %}
    <div
      class="alert alert-danger alert-dismissible fade show"
      style="
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 1rem;
        margin-right: 1rem;
        animation: fadein 1s, fadeout 1s 2s;
      "
      role="alert"
      style="max-width: 200px"
    >
      {{ alert_message }}
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %}

    <div class="container-fluid mt-5">
      <div class="row">
        <div class="col-md-6">
          <div
            class="card"
            style="border-radius: 30px; border: 3px solid #242f73"
          >
            <div class="card-body">
              <h5 class="card-title text-center">Selecciona tu llamada</h5>
              <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                  <label for="selected_audio"
                    >Selecciona tu archivo de audio:</label
                  >
                  <select
                    name="selected_audio"
                    id="selected_audio"
                    class="form-control"
                  >
                    <option value="" disabled selected>
                      Selecciona un archivo
                    </option>
                    {% for audio_path in audio_paths %}
                    <option value="{{ audio_path }}">{{ audio_path }}</option>
                    {% endfor %}
                  </select>
                </div>

                <audio id="audioPlayer" controls class="w-100">
                  Tu navegador no soporta el elemento audio.
                </audio>

                <button
                  type="submit"
                  class="btn btn-block btn-interfaz"
                  onclick="playAudio()"
                  style="
                    border-radius: 30px;
                    border: 3px solid #04c4d9;
                    margin-top: 2rem;
                    color: #242f73;
                    font-weight: 500;
                  "
                >
                  Play
                </button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div
            class="card"
            style="border-radius: 30px; border: 3px solid #242f73"
          >
            <div class="card-body">
              <h5 class="card-title text-center">Dictado de Voz</h5>
              <div
                id="output"
                class="form-control"
                contenteditable="false"
                style="white-space: pre-wrap; min-height: 100px; height: auto"
              >
                {{ data }}
              </div>
              <div class="row">
                <div class="col-md-6">
                  <button
                    onclick="startRecognition()"
                    class="btn btn-block mt-2 btn-interfaz"
                    style="
                      border-radius: 30px;
                      border: 3px solid #04c4d9;
                      margin-top: 2rem;
                      color: #242f73;
                      font-weight: 500;
                    "
                  >
                    Iniciar Dictado
                  </button>
                </div>
                <div class="col-md-6">
                  <button
                    onclick="stopRecognition()"
                    class="btn btn-block mt-2 btn-stop"
                    style="
                      border-radius: 30px;
                      border: 3px solid red;
                      margin-top: 2rem;
                      color: #242f73;
                      font-weight: 500;
                    "
                  >
                    Detener Dictado
                  </button>
                </div>
              </div>
            </div>
            <div
              class="modal fade"
              id="keywordModal"
              tabindex="-1"
              aria-labelledby="keywordModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="keywordModalLabel">
                      Palabra clave detectada
                    </h5>
                    <button
                      type="button"
                      class="close"
                      data-dismiss="modal"
                      aria-label="Close"
                    >
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    Palabra clave: <span id="keywordDetected"></span>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-dismiss="modal"
                    >
                      Cerrar
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 5rem">
        <!-- Columna de Alerta y Gráfica -->
        <div class="col-md-6">
          <div class="text-center">
            <div class="p-4 border rounded-circle">Gráfica de emociones</div>
            <div id="chart_div"></div>
          </div>
        </div>

        <div class="col-md-6">
          <!-- Parámetros de voz -->
          <ul class="list-group mt-3">
            <script type="text/javascript">
              google.charts.load("current", { packages: ["corechart"] });
              google.charts.setOnLoadCallback(drawChart);

              function drawChart() {
                var variable_y = JSON.parse("{{ variable_y|escapejs }}");
                var variable_x = JSON.parse("{{ variable_x|escapejs }}");

                var data = google.visualization.arrayToDataTable([
                  ["Categoría", "Valor"],
                  [variable_x[0], variable_y[0]],
                  [variable_x[1], variable_y[1]],
                  [variable_x[2], variable_y[2]],
                  // Agrega más categorías y valores según sea necesario
                ]);

                var options = {
                  title: "Mi Gráfico",
                  bars: "horizontal", // Gráfica de barras horizontales
                  bar: { groupWidth: "80%" }, // Ancho de las barras
                  borderRadius: 10, // Radio de borde para redondear las esquinas de las barras
                  // Resto de las opciones
                };

                var chart = new google.visualization.BarChart(
                  document.getElementById("chart_div")
                );

                chart.draw(data, options);
              }
            </script>

            <li class="list-group-item">
              Velocidad:<a>{{variable_y}}{{variable_x}}</a>
            </li>
            <li class="list-group-item">Tono</li>
            <li class="list-group-item">{{data_emotion}}</li>
          </ul>

          <!-- Botón Finalizar llamada -->
        </div>
      </div>
      <div class="text-center" style="margin-top: 5rem">
        <a
          class="btn btn-interfaz"
          href="/"
          style="
            border-radius: 30px;
            border: 3px solid #04c4d9;
            color: #242f73;
            font-weight: 500;
          "
        >
          <span style="margin: 1rem">Finalizar llamada</span>
        </a>
      </div>
    </div>
    <!-- Bootstrap Alert -->
    <style>
      #keywordDetected {
        color: red;
        font-weight: bold;
      }
    </style>
    <script>
      // Comprueba si el navegador soporta el reconocimiento de voz
      window.SpeechRecognition =
        window.SpeechRecognition || window.webkitSpeechRecognition;

      if (window.SpeechRecognition) {
        const recognition = new SpeechRecognition();
        recognition.interimResults = true; // Para resultados intermedios
        recognition.lang = "es-ES"; // Establece el idioma a español
        let isListening = false;

        recognition.onend = function () {
          if (isListening) {
            recognition.start();
          }
        };

        let fullTranscript = ""; // Almacena la transcripción completa

        recognition.onresult = function (event) {
          let interimTranscript = "";

          for (let i = event.resultIndex; i < event.results.length; i++) {
            const transcript = event.results[i][0].transcript;
            if (event.results[i].isFinal) {
              fullTranscript += transcript + " ";
            } else {
              interimTranscript += transcript;
            }
          }

          var highlightedText = fullTranscript + interimTranscript;

          // Detectar palabras clave
          var wordsToDetect = JSON.parse("{{ keywords_json|safe }}");
          for (const word of wordsToDetect) {
            highlightedText = highlightedText.replace(
              new RegExp("\\b" + word + "\\b", "gi"),
              function (match) {
                return `<span style="background-color: yellow;">${match}</span>`;
              }
            );
          }

          document.getElementById("output").innerHTML = highlightedText;
        };

        function startRecognition() {
          isListening = true;
          recognition.start();
        }

        function stopRecognition() {
          isListening = false;
          recognition.stop();
        }
      } else {
        alert("Tu navegador no soporta el reconocimiento de voz.");
      }

      function playAudio() {
        const selectedAudio = document.getElementById("selected_audio");
        const audioPlayer = document.getElementById("audioPlayer");
        if (selectedAudio.value) {
          audioPlayer.src = selectedAudio.value;
          audioPlayer.play(); // Play the audio
        }
      }
    </script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const outputDiv = document.getElementById("output");
        outputDiv.innerHTML = highlightKeywords(outputDiv.textContent);
      });
    </script>
    <script>
      function highlightKeywords(text) {
        // Detectar palabras clave
        var wordsToDetect = JSON.parse("{{ keywords_json|safe }}");
        for (const word of wordsToDetect) {
          text = text.replace(
            new RegExp("\\b" + word + "\\b", "gi"),
            function (match) {
              return `<span style="background-color: yellow;">${match}</span>`;
            }
          );
        }
        return text;
      }
    </script>
    <!-- Scripts necesarios para Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
